<div class="accordion" id="profile_accordion">
  <div class="accordion-item">
    <h1 class="accordion-header" id="headingFive">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Where did this concept of Spiritual Types come from?
      </button>
    </h1>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#profile_accordion">
      <div class="accordion-body">
        <h6>The four spiritual types are part of a body of research called <strong>Spiritual Assessment</strong>.</h6>
        <p class="text-left">Spiritual Assessment is used primarily by people called chaplains. A chaplain is a minister who works in some kind of institution, such as a hospital, a prison, or a university. Chaplains provide a service called <strong>Spiritual Care</strong>, which is caring for a person's deepest values: purpose, dignity, meaning, and goodness. Usually, chaplains are <strong>non-denominational</strong>, which means that even though they may personally identify with a particular religious or spiritual tradition, they will offer spiritual care to people of any or no spirituality. 
        </p>
        <hr>
        <h6>The purpose of spiritual assessment is to identify <underline>how you think about the deepest questions of life.</underline></h6>
        <p class="text-left">From there, it helps to identify the areas of your life where you are experiencing <strong>existential or spiritual hurt.</strong>

          These are the kinds of pain that we all know, but sometimes have a hard time putting language to. Things like feeling like a burden, feeling deeply alone, feeling deprived of your basic humanity, feeling like you have no purpose or value, and even feeling disconnected from God - and more. 
        </p>
        <hr>
        <h6>SHALOM Spiritual Assessment helps us identify the areas where you are experiencing spiritual pain, or dissonance.</h6>
        <p class="text-left">From here, we can build experiences for you to help! That can include speaking with a chaplain for counseling, virtual rituals, building a community of support... These are all human-connected ways of supporting you in your depths.
        </p>
        <p class="text-left">
          The four Spiritual Types are generalized models that are used in many interfaith spaces, not just clinical literature.
          Take a look, for example, at the <strong>National Interfaith Coalition on Aging's</strong> definition of spiritual wellbeing:
        </p>
        <div class="card-body">
          <div class="blockquote">"Spiritual wellbeing [is] the affirmation of wholeness which is blessed and fostered in relationship of <span class="text-info">life with God,</span> <span class="text-secondary">self,</span> <span class="text-warning">society,</span> and <span class="text-success">environment.</span></div>
          <p class="text-right"><strong>- National Interfaith Coalition on Aging, 1975</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h1 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Personalists
      </button>
    </h1>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#profile_accordion">
      <div class="accordion-body">
        <p>Personalists are individuals who believe their spiritual wellbeing is brought about entirely from within their own resources (or being), that is, that their human spirit provides the motivation to seek meaning, purpose, and values in life. They feel wholly self-sufficient, thus self-centred, regarding the development of their personal spiritual wellbeing, even though they might acknowledge a need for interpersonal relationships for other dimensions of their wellbeing, such as social, emotional, or vocational.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h1 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Communalists
      </button>
    </h1>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#profile_accordion">
      <div class="accordion-body">
        <p> Communalists recognise the need to have harmony in the personal domain,to have stated meaning, purpose, and values clarified and lived out. As well as this basic facet of spiritual wellbeing, communalists acknowledge a need for quality and depth in inter-personal relationships that transcend morality and culture. They recognise that the whole is much greater than the sum of the parts. They believe that when people interrelate at depth, a significant impact occurs on their spiritual wellbeing.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h1 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Environmentalists
      </button>
    </h1>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#profile_accordion">
      <div class="accordion-body">
        <p> Environmentalists have an appreciation of the knowledge and inspirational aspects of the personal and communal domains, together with, at least, a sense of awe and wonder about the environment. They go beyond responsible management of the physical, eco-political, and social aspects of the environment to a sense of connectedness of the individual or group with it. They are so in tune with nature that their relationship with it adds meaning to the other domains.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h1 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Transcendentalists
      </button>
    </h1>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#profile_accordion">
      <div class="accordion-body">
        <p> Transcendentalists have a primary focus on their relationship with God, even though they recognise the importance of relationships with self, others, and the environment in the development of spiritual health. Growth in this domain requires the experience, exercise, or both of a faith dimension expressed through communication with some-thing, or some-one, beyond the human level. When individuals have connected with the ultimate source of being in the universe, it should have a profound effect on their sense of identity and destiny, their relations with others, and their relation with the environment.
        </p>
      </div>
    </div>
  </div>
</div>
