<h3>PLACEHOLDER FOR CONTENT ABOUT INTENTION SETTING</h3>
<ul>
  <li>Commitment to opening self to each of the 4 dimensions of the sacred</li>
  <li>Dedication to someone or something beyond me<li>
  <li>why am I here?</li>
</ul>
