<div class="container-fluid">
  <div class="container" style="margin-top: 5vh">
    <div class="row">
      <div class="col">
        <h1>
          Welcome to Your Path
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="container col-lg-6" style="margin-top: 5vh;">
        <div class="container-fluid">
          <div id="carouselHome" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card">
                  <img src="https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2@2x.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <img src="https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2@2x.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <div class="carousel-item">
                <div class="card">
                  <img src="https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2@2x.png" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="container col-lg-6"  style="margin-top: 5vh; margin-bottom: 10vh;">
        <div id='welcome' class="d-flex">
          <div id='card1' class="card container-fluid">
            <%= render partial: "devise/registrations/new_partial", local: {resource: :seeker} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
