<body class="c5 doc-content">
  <p class="c3"><span class="c2">How To Pray for the transcendentalist</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Hi - welcome to your prayer path. </span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">First thing, let’s acknowledge the elephant in the room. Prayer can be weird. You might ask yourself things like “am I just talking to myself? How do I know God is listening? If I ask for divine intervention, does that mean prayer works like magic or some kind of Universal slot machine?</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Any and all of those are valid questions or concerns - and I’m sure there are many more that I didn’t mention. But let’s put those aside for now and think about what Prayer is, and why it’s good for your spiritual and mental health.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span>At its most basic level, </span><span class="c0">prayer is a spiritual practice that uses words and thoughts to create a connection with the sacred.</span></p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c3"><span class="c2">In your spiritual type assessment, you learned that you might be a transcendentalist, someone who thinks about the sacred is that big inconceivable, incomprehensible, and indescribable Other. Maybe for you that’s God. Maybe it’s Truth or Wisdom. Maybe it’s the Universe. Maybe you’re not sure - and that’s perfectly fine too. What we call it is less important than getting in touch with that feeling inside that tells you “there’s gotta be something more out there.” And over the next 30 days we’re going to try to make that connection feel real.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">We’ll talk more about all of this over time. For now, let’s start to play around with what that might feel like in your thoughts, words, and feelings.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Make sure you’re in a quiet, private place for the next 5 minutes.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Have a seat in whatever posture you like. I’m sitting in a chair, but if you’ve learned prayer in other positions, such as criss-cross or kneeling, go ahead and take that position.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">In your own time, take 3 deep breaths in and out.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span>In many prayers, the first step is </span><span class="c4">invocation. </span><span class="c2">Invocation is a fancy word meaning “calling out” to the sacred. That’s all we’re going to do today. I have a few different invocations from some of the world’s richest traditions. I’ll say them first, and then, as you’re comfortable, repeat after me. If you’re not comfortable with any of the invocations, just leave space for silence until we get to the next. </span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Take note of what feels good, what feels bad, and what makes sense to you.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Here we go.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Dear God.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span class="c2">Oh </span></p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c3"><span class="c2">Prayer is an ancient practice, but that doesn’t mean it’s outdated. In fact, a 2008 clinical study found that study participants who feel and think quietly about God, pray regularly, and have feelings of deep experience of God reported statistically significant better subjective well-being than those who don’t.</span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c3"><span>That doesn’t mean that if you pray you will immediately feel better! But it does mean that feeling a connection with God, and regularly practicing that connection, opens you up to the </span><span class="c4">ordinary goodness of life.</span><span class="c2">&nbsp;</span></p>
  <p class="c1"><span class="c0"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
  <p class="c1"><span class="c2"></span></p>
</body>
