<%= form_with(model: assessment_question, local: true) do |form| %>
  <% if assessment_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment_question.errors.count, "error") %> prohibited this assessment_question from being saved:</h2>

      <ul>
        <% assessment_question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
