<div class="container-fluid">
<br class="invisible">
  <div class="card col-md-8 container-fluid">
    <div class="card-header">
    <h2>
    Not ready yet...
    </h2>
    </div>
    <div class="card-body">
      <p>
      Hi <%= current_seeker.first_name %>,
      </p>
      <p>
      We know you're curious about what this "Sanctuary" thing is. We're excited to show you!
      </p>
      <p>
      First, we need a little more information about your journey before we get there! Please return to <%= link_to "your path", course_lesson_path(@course, @lesson) %> and get a few more sessions in. We'll let you know when your Sanctuary is ready.
      </p>
    </div>
  </div>
  </div>
